.menuItem_Container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  padding: 15px;
  font-family: 'Noto Sans JP', sans-serif;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 15px 15px;
  i {
    align-self: flex-end;
  }

  h1 {
    font-size: 22px;
    font-weight: 900;
    margin-bottom: 10px;
  }

  h3 {
    font-size: 14px;
  }
}
